body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background: rgb(12, 12, 149);
    background-size: cover;
    background-position: center;
}


.wrapper{
    width: 420px;
    background-color: rgb(15, 101, 177);
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 2);*/
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}