*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
    
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
    background: rgb(4, 4, 103);
    background-size: cover;
    background-position: center;
}

.picture{
    
}

.wrapper{
    width: 500px;
    height: 600px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 2);*/
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

/*Sign Up*/
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .inputs_box{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
    
}

.inputs_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 50px;
    font-size: 16px;
    color: white ;
    padding: 20px 45px 20px 20px ;
}

.inputs_box input::placeholder{
    color: #fff;
}


form{
    background-color: rgba(8, 43, 126, 0.53);
    height: 100%;
}
